<launch>
    <arg name="config_path" default="$(find arm_teleop)/vptele/config/config_fake_visionpro.yaml" />
    <arg name="vp_ip" default="127.0.0.1" />

    <node
        pkg="arm_teleop"
        type="main_ros.py"
        name="teleop_fake_vp"
        output="screen"
    >
        <param name="config_path" value="$(arg config_path)" />
        <param name="vp_ip" value="$(arg vp_ip)" />
        <param name="video_enabled" value="false" />
    </node>
</launch>
